.pin-field {
  width: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  margin: 0 10px;
  border: 2px solid #ccc;
  box-shadow: none !important;
  color: #333;
  background: white;
}