@import "color";
@import "variable";

@font-face {
  font-family: "DIN Alternate";
  src: url(./assets/font/DIN-Alternate-Regular.otf);
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #536e90;
  font-size: 0.9rem;
  font-family: Arial, serif;
  background: #F1F5F9;
}

strong {
  color: #536e90;
  font-size: 0.9rem;
}

a {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.pre-wrap {
  white-space: pre-wrap;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 0.8rem;
  overflow: hidden;
}

.side-bar {
  width: $sidebar-width;
  //overflow-y: auto;
  position: fixed;
  z-index: 1010;
  margin: 0;
  height: 100%;
  background: #161143;
  display: flex;
  flex-direction: column;
}

.side-bar::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: transparent;
}

.main-content-wrap {
  position: absolute;
  right: 0;
  width: calc(100% - #{$sidebar-width});
  height: 100vh;
  overflow: auto;
}

.main-content {

}

main {
  padding: 20px;
}

//table {
//  th, td {
//    border-style: solid;
//    border-color: $table-border-color;
//    border-width: 0 1px 1px 0;
//    padding: 5px 10px;
//  }
//}


.react-datepicker, .react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
  font-size: 1em !important;
}


.box {
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  padding: 1em;
  border-radius: 2px;
  min-width: 65px;

  &.cake {

  }
}

.box-radius {
  &.topx {
    border-radius: 10px;
    overflow: hidden;
  }
}

.v-list {
  > * {
    display: block;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-control {
  font-size: 0.8rem !important;
}

.v-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconfont {
  font-size: 1.3em;

  &.icon-triangledownfill,
  &.icon-triangleupfill {
    font-size: 1em;
  }
}

button {
  border-width: 1px;
  border-style: solid;
  border-color: #d4d4d4;
  outline: none;
  padding: 3px 6px;
  //height: 25px;
  border-radius: 2px;
  white-space: nowrap;
  background: #e1e2e2;
  background: -webkit-linear-gradient(to bottom, #ffffff, #e1e2e2);
  background: linear-gradient(to bottom, #ffffff, #e1e2e2);

  &.sm, &.small {

  }

  $code-list: (primary $primary-color $primary-color-hover),
          (secondary $secondary-color $secondary-color-hover),
          (danger $danger-color $danger-color-hover),
          (success $success-color $success-color-hover),
          (warning $warning-color $warning-color-hover),
          (info $info-color $info-color-hover);

  $with-black-font: warning;

  @each $code, $color, $hover in $code-list {
    &.#{$code} {
      background: $color;
      border-color: $color;
      @if $code == "warning" {
        color: #212529;
      } @else {
        color: #fff;
      }

      &.outline {
        color: $color;
      }

      &:hover {
        background: $hover;
        color: #fff;
      }
    }
  }

  &.outline {
    background: #fff;
  }

  &:disabled {
    background: #cecece !important;
    border-color: #d0d0d0 !important;
    color: #fff !important;

    &.outline {
      background: none !important;
      color: #d0d0d0 !important;
    }
  }
}


input {
  padding-left: 3px;
  padding-right: 3px;
}

.k2-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  &.justify-center {
    justify-content: center;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.small-gap {
    margin-left: -10px;
    margin-right: -10px;

    .k2-col {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.k2-col {
  flex-basis: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  position: relative;
  padding: 0 15px;

  &[data-md] {
    flex-grow: 0;
    flex-shrink: 0;
  }

  @for $i from 1 through 12 {
    &[data-md="#{$i}"] {
      $width: (100% / 12) * $i;
      flex-basis: $width;
      max-width: $width;
    }
  }
}


.button-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.float-right {
  float: right;
}

.link {
  cursor: pointer;
}


.k2grid {
  padding-left: 15px;
  padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

label {
  margin-bottom: 0.3em;
}

.invisible {
  z-index: -999;
  position: relative;
  opacity: 0;
  visibility: inherit !important;
}

.hide {
  display: none !important;
}

.show {
  display: inherit;
}


.bubble {
  position: relative;

  &:after, &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 10px solid transparent;
  }

  &.right {
    &::before,
    &::after {
      top: 50%;
      transform: translateY(-50%);
      right: 100%;
    }

    &::before {
      border-right-color: #000;
    }

    &::after {
      border-right-color: #ffffff;
    }
  }

  &.bottom {
    &::before,
    &::after {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    &::before {
      border-bottom-color: #000;
    }

    &::after {
      border-bottom-color: #ffffff;
    }
  }
}

.k2button {

}

.custom-select__control {
  min-height: 30px !important;
}

.custom-form-select {
  .custom-select__indicator {
    padding: 2px;
  }

}

.highlight {
  background: yellow;
}

.withPadding {
  padding: 20px;
}

.j2Border {
  border: 1px solid rgba(0, 0, 0, .09);
}

.text-link {
  color: #589BE9;
}