$table-border-color: #dedede;
$primary-color: #0351ff;
$primary-color-hover: #0069d9;
$secondary-color: #6c757d;
$secondary-color-hover: #545b62;
$danger-color: #dc3545;
$danger-color-hover: #bd2130;
$success-color: #28a745;
$success-color-hover: #1e7e34;
$warning-color: #ffc107;
$warning-color-hover: #e0a800;
$info-color: #17a2b8;
$info-color-hover: #117a8b;
